<turbo-frame class="passenger" id="<%= dom_id passenger %>" loading="lazy">
  <div class="passenger__data"><span>Name:</span><span><%= passenger.name %></span></div>
  <div class="passenger__data"><span>Email:</span><span><%= passenger.email %></span></div>
</turbo-frame>
