.flight {
  display: flex;
  padding: 12px;
  align-items: center;
  column-gap: 20px;
}
.flight__airport {
  display: flex;
  flex-direction: column;
}
.flight__flight-duration {
  display: flex;
  flex-direction: column;
  text-align: center;
}
